body {
  background-image: url("./background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
}

ul {
  font-size: 1.1rem;
}

#visualizer{
  border: solid 1px black;  
}