body {
  background-image: url("./background.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  font-family: Arial Black;
}

h1 {
  color:white;
  font-size: 5rem;
  -webkit-text-stroke-width: 0.15rem;
  -webkit-text-stroke-color: black;
}

i {
  color: white;
  -webkit-text-stroke-width: 0.07rem;
  -webkit-text-stroke-color: black;
}

i:hover {
  cursor: pointer;
}

#visualizer {
  border: solid 1px black;  
}

#weight-inputs {
  font-size: 1.5rem;
  color:white;
  -webkit-text-stroke-width: 0.08rem;
  -webkit-text-stroke-color: black;
}

#how-to {
  display: block;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  height: 100%;
}

#question {
  position: fixed;
  top: 0;
  right: 5;
}

#main-content {
  margin-top: 4%;
}

#instructions {
  margin-top: 6%;
}

.hidden {
  display: none;
}