
.top-lvl {
  font-family: "Courier New", Courier, monospace;
  background: linear-gradient(45deg, #262626 0%, #d9d9d9 100%);

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


#visualizer{
  border: solid 1px black;  
}